h3 {
  margin: 20px 0px 5px 0px;
}

h4 {
  margin: 8px 0px 3px 0px;
}

ul {
  display: inline-block;
}

ul:after {
  clear: both;
  content: "";
  display: table;
}

.member-list-container {
  height: 40px;
}

.member-title {
  float: left;
  top: 11px;
  position: relative;
}

.member-title p{
  padding-right: 10px;
}

.description-item h2 {
  margin: 5px 0px;
}

.description-item p {
  color: #777777;
}

.description-item:after {
  clear: both;
  content: "";
  display: table;
}

.descrption-area {
  height: 400px;
  padding: 10px;
  border: 1px solid #DEDEDE;
  border-radius: 3px;
  background-color: #EEEEEE;
  line-height: 16px;
  overflow: scroll;
}

.group-address {
  margin-bottom: 10px;
}

.join-button-container {
  height: 100px;
  width: 100%;
  margin: 70px 0px;
}

.join-button {
  color: white;
  font-size: 36px;
  padding: 40px 100px;
  background-color: #ff5a5f;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  box-shadow: inset 0px -1px 3px 0px rgba(0,0,0,0.3);
}
.join-button:hover {
  opacity: 0.85;
  box-shadow: inset 0px -1px 1px 0px rgba(0,0,0,0.3);
}

.departments {
	float: none;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.department-list li{
  float: none;
  line-height: 20px;
}
